doctype html
html
   head
      title  "Student Details"
   body
    //-   p.greetings#people Hello World!
    table(border="1" cellpadding="10")
    thead 
       th Full Name 
       th Email 
       th Mobile Number 
    each val in allstudents 
        tr 
           td #{val.name}
           td #{val.email}
           td #{val.mobile}

          